* {
  border: none;

  font: inherit;

  margin: 0px;
  padding: 0px;

  position: relative;
}

*[class|=dsq] {
  position: static;
}

@font-face {
    font-family: 'Helsinki';
    src: url('helsinki-webfont.eot');
    src: url('helsinki-webfont.eot?#iefix') format('embedded-opentype'),
         url('helsinki-webfont.woff') format('woff'),
         url('helsinki-webfont.ttf') format('truetype'),
         url('helsinki-webfont.svg#HelsinkiRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

html {
  min-height: 100%;
  max-height: none;

  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-box-align: stretch;
  -webkit-box-pack: center;
}

body {
  font-family: "PT Serif", serif;
  /*
   * Other sizes are partly based on a modular scale (perfect fifth) of this
   * value. See modularscale.com for reference.
   */
  font-size: 16px;

  height: 100%;

  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-box-align: stretch;
  -webkit-box-flex: 1;

  max-width: 41.647em;
  margin: 0em auto;
}

#blogtitle {
  background: #252525;

  font-family: "Helsinki", serif;
  font-size: 30pt;
  color: #fff;

  padding: 0.3em 0.8em 0.2em 0.8em;
}

#blogtitle a {
  color: #fff;
  text-decoration: none;
}

#pages_nav {
  background: #444;

  font-family: "Dosis", sans-serif;
  font-weight: 600;
  color: #fff;

  padding: 0.2em 2em;
}

#pages_nav a, #pages_nave a:visited, #pages_nav a:hover {
  color: #fff;
  text-decoration: none;

  padding-right: 0.7em;
}

#content {
  color: #333;
  line-height: 1.5;

  -webkit-box-flex: 1;

  padding: 1em 2em;
}

#content a, a:visited {
  color: #a10;
  text-decoration: none;
}

#content a:hover {
  color: #a10;
  text-decoration: underline;
}

#content p {
  text-align: justify;

  margin: 0em;
  padding: 0.214em 0em 0.722em 0em;
}

#author_info {
  border-bottom: solid 1px #aaa;
  font-size: 10pt;

  text-align: right;

  margin: 1em 0em 0em 0em;
}

#author_info a {
  color: #555;
}

#disqus_thread {
  margin-top: 1em;
}

#posts {
  font-family: "Dosis", sans-serif;
  font-size: 12pt;

  list-style: none;

  margin: 0em;
  padding: 0em;
}

#posts li {
  border-bottom: solid 1px #ccc;

  margin-bottom: 0.5em;
}

#posts a {
  font-family: "PT Serif", serif;
  font-weight: bold;
  color: #000;
  text-decoration: none;

  padding-right: 0.5em;
}

.post_date {
  font-family: "Dosis", sans-serif;
  color: #aaa;

  display: inline-block;
  float: right;

  padding: 0em;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  color: #333;

  margin-top: 0.667em;
  margin-bottom: 0.214em;
}

h1 {
  font-size: 1.625em;
}

header > h1 {
  margin-top: 0em;
}

h2 {
  font-size: 1.4em;
}

h3 {
  font-size: 1.2em;
}

h4 {
  font-size: 1em;
}

h1, h2, h3 {
  border-bottom: solid 1px #aaa;
}

em {
  font-style: italic;
}

strong {
  font-weight: bold;
}

small {
  font-size: 0.7em;
}

#post_info {
  font-family: "Dosis", sans-serif;
  font-weight: bold;
  color: #aaa;
  text-align: right;
}

#post_content {
  margin: 0em;
  padding: 0em;
}

hr {
  border-bottom: solid 1px #aaa;
}

#site-footer {
  background: #252525;

  color: #ddd;
  font-family: "Dosis";
  font-size: 0.8em;
  text-align: center;

  padding: 0.5em;
}

#site-footer a {
  color: #fff;
  font-weight: 600;
  text-decoration: none;
}

#site-footer a:hover {
  text-decoration: underline;
}

blockquote {
  border-left: solid 4px #aaa;

  color: #555;

  padding: 0 0.5em;
  margin: 0.5em 0.7em;
}

pre {
  border: solid #aaa 1px;
  border-radius: 3px;

  line-height: 1.2;

  margin: 0em;
  padding: 0.5em 0.7em;
}

code {
  font-family: "Ubuntu Mono", mono;
  font-size: 0.9em;
}
