@font-face {
    font-family: 'Helsinki';
    src: url('helsinki-webfont.eot');
    src: url('helsinki-webfont.eot?#iefix') format('embedded-opentype'),
         url('helsinki-webfont.woff') format('woff'),
         url('helsinki-webfont.ttf') format('truetype'),
         url('helsinki-webfont.svg#HelsinkiRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
  font-family: "PT Serif", serif;
  font-size: 12pt;

  max-width: 40em;
  margin: 0em auto;
}

#blogtitle {
  background: #252525;

  font-family: "Helsinki", serif;
  font-size: 30pt;
  color: #fff;

  padding: 0.2em 0.6em;
}

#blogtitle a {
  color: #fff;
  text-decoration: none;
}

#pages_nav {
  background: #444;

  font-family: "Terminal Dosis", sans-serif;
  font-weight: bold;
  color: #fff;

  padding: 0.2em 2em;
}

#pages_nav a, #pages_nave a:visited, #pages_nav a:hover {
  color: #fff;
  text-decoration: none;

  padding-right: 0.7em;
}

#content {
  padding: 1em 2em;
}

#content a {
  font-weight: bold;
  color: #000;
  text-decoration: none;
}

#content p {
  text-align: justify;

  margin: 0em;
  padding: 0.5em 0em;
}

#author_info {
  border-bottom: solid 1px #aaa;
  font-size: 10pt;

  text-align: right;

  margin-bottom: 0.5em;
}

#author_info a {
  color: #555;
}

#posts {
  font-family: "Terminal Dosis", sans-serif;
  font-size: 12pt;

  list-style: none;

  margin: 0em;
  padding: 0em;
}

#posts li {
  border-bottom: solid 1px #ccc;

  margin-bottom: 0.5em;
}

#posts a {
  font-family: "PT Serif", serif;
  font-weight: bold;
  color: #000;
  text-decoration: none;

  padding-right: 0.5em;
}

.post_date {
  font-family: "Terminal Dosis", sans-serif;
  color: #aaa;

  display: inline-block;
  float: right;

  padding: 0em;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "PT Serif", serif;
  font-weight: bold;
  color: #333;

  margin-top: 1em;
  margin-bottom: 0.1em;
  padding: 0em;
}

h1 {
  margin-top: 0em;
}

h1, h2, h3 {
  border-bottom: solid 1px #aaa;
}

#post_info {
  font-family: "Terminal Dosis", sans-serif;
  font-weight: bold;
  color: #aaa;
  text-align: right;
}

#post_content {
  margin: 0em;
  padding: 0em;
}

blockquote {
  border-left: solid 4px #aaa;
  padding: 0 0.5em;
  margin-left: 0.5em;
}
