<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8" />
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/css/style.css" type="text/css" />
    <link rel="stylesheet" href="/css/syntax.css" type="text/css" />
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Dosis:400,600|Ubuntu+Mono|PT+Serif:400,700,400italic&subset=latin,latin-ext" type="text/css" />
    <link rel="alternate" href="http://feeds.feedburner.com/burnandtremble" type="application/rss+xml" />
    <link rel="canonical" href="{{ site.baseurl }}{{ page.url }}" />

    {% if page.meta != null and page.meta.description != null %}
    <meta name="description" content="{{ page.meta.description }}" />
    {% else %}
    <meta name="description" content="The personal blog of Hermann Loose." />
    {% endif %}

    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-31474674-1']);
      _gaq.push(['_setSiteSpeedSampleRate', 10]);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>

  </head>

  <body>
    <div id="blogtitle"><a href="/">Burn And Tremble</a></div>
    <nav id="pages_nav">
      <a href="/">Blog</a>
      <a href="/about.html">About Me</a>
      <a href="/cv.html">CV</a>
    </nav>
    <div id="content">
      {{ content }}
    </div>

    {% include footer.html %}
  </body>

</html>
