<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/css/style.css" type="text/css" />
    <link rel="stylesheet" href="/css/syntax.css" type="text/css" />
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=PT+Serif" type="text/css" />
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Terminal+Dosis" type="text/css" />
    <link rel="alternate" href="http://feeds.feedburner.com/burnandtremble" type="application/rss+xml" />
    <meta name="description" content="The personal blog of Hermann Loose." />
  </head>
  <body>
    <div id="blogtitle"><a href="/">Burn And Tremble</a></div>
    <nav id="pages_nav">
      <a href="/">Blog</a>
      <a href="/about.html">About Me</a>
    </nav>
    <div id="content">
      {{ content }}
    </div>
  </body>
</html>
