<html>
  <head>
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/css/style.css" type="text/css" />
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=PT+Serif" type="text/css" />
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Terminal+Dosis" type="text/css" />
  </head>
  <body>
    <div id="blogtitle">Burn And Tremble</div>
    <div id="pages_nav">
      <a href="/index.html">Blog</a>
      <a href="/about.html">About</a>
    </div>
    <div id="content">
      {{ content }}
    </div>
  </body>
</html>
