---
layout: layout
---

<article>

  <header>
    <h1>{{ page.title }}</h1>
    <div id="post_info">
      <time datetime="{{ page.date }}" pubdate>{{ page.date | date: "%B %e, %Y" }}</time>
    </div>
  </header>

  <div id="post_content">
    {{ content }}
  </div>

  <footer id="author_info">
    the author on
    <a href="https://twitter.com/hermannloose" rel="author">Twitter</a>,
    <a href="https://www.facebook.com/hermannloose" rel="author">Facebook</a> and
    <a href="https://plus.google.com/107980417360832836385" rel="author" title="Twitter, Facebook, you're excused …">Google+</a>
  </footer>

</article>

{{ if page.comments }}
<div id="disqus_thread"></div>
<script type="text/javascript">
  var disqus_shortname = 'burnandtremble';
  (function() {
      var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
      dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
      (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
  })();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
{{ endif }}
